
# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

robots.txt

html/

composer.phar

/vendor/

/build/api/*
/build/logs/*
/build/coverage/*
/build/pdepend/*

cache.properties
composer.lock

